:root {
    --primary-color: #495c7a;
    --secondary-color: #92cccd;
    --tertiary-color: #31343d;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #ededf6;
}

a:visited,
a {
    text-decoration: none;
}

.margin-b {
    margin-bottom: 10px;
}

.hover:hover {
    transform: perspective(1000px) rotateX(20deg);
}

/* Header Styles */

header {
    background: var(--tertiary-color);
    padding: 20px 30px 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 42px;
    padding: 10px 20px 10px 50px;
    border-radius: 0px 10px 10px 0px;
}

header nav {
    margin: 25px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #fefefe;
    padding: 10px;
    margin: 5px;
    border-bottom: 2px solid #fefefe;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/* END Header Styles */

.hero {
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23271f33' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 5px solid var(--tertiary-color);
}

.cta {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2rem;
    padding: 5px;
    position: relative;
    right: 30px;
    bottom: 20px;
    border-radius: 4px;
}

section {
    padding: 150px 25px;
}

.section-title {
    font-size: 30px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    margin-right: 30px;
}

#about img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 25px;
}

#about img:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
}

/* Flexbox Settings */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    flex-basis: 20%;
    flex: 1;
}

.second-column {
    flex-direction: column;
    flex-basis: 80%;
}
/* END Flexbox Settings */

/* Portfolio */

.work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.work-container h3 {
    background: var(--secondary-color);
    color: var(--primary-color);
    position: absolute; 
    z-index: 1;
    padding: 40px;
    bottom: 10px;
    text-align: justify;
}

img {
    width: 100%;
    height: 100%;
}

.portfolio-work a,
.featured-work a {
    position: relative;
}

.portfolio-work,
.featured-work {
    overflow: hidden;
}

.featured-work {
    display: flex;
    align-items: flex-end;
    flex-basis: 98%;
    height: 500px;
    margin-bottom: 1%;
}

.portfolio-work {
    display: flex;
    align-items: flex-end;
    flex-basis: 48%;
    height: 250px;
    margin: 1%;
}

.port-border {
    border: 3px solid var(--secondary-color);
}

/* END Portfolio */

/* Footer Styles */

footer {
    background: var(--tertiary-color);
    color: #fff;
    height: 10vh;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    border-bottom: 5px solid var(--secondary-color);
}

footer a,
footer a:visited {
    color: #fff;
}

/* END Footer Styles */

/* Media Queries */
/* 1120 Breakpoint */
@media only screen and (max-width: 1120px) {

    header {
        justify-content: center;
        padding: 0;
        padding-bottom: 15px;
        flex-direction: column;
        align-items: stretch;
    }

    header h1 {
        text-align: center;
        padding: 10px 5px;
        margin-bottom: 15px;
        border-radius: 0;
    }

    nav {
        padding: 0 100px;
    }

    .hero {
        height: 25vh;
    }

    .cta {
        font-size: 1rem;
    }

    .section-title {
        margin-right: 125px;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--primary-color);
        border-right: none;
    }

    .featured-work,
    .portfolio-work {
        height: 300px;
        flex-basis: 100%;
    }
    
    .work-container {
        margin-top: 50px;
    }

}

/* 618px Breakpoint */
@media only screen and (max-width: 618px) {
    header nav ul {
        justify-content: normal;
    }

    header nav ul li {
        margin-top: 35px;
    }

    .cta {
        padding: 15px;
        right: 0;
        border-radius: 0;
    }
}